/* Sekcja Main Strony */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Dosis:wght@500&family=Gluten:wght@500&family=Kanit&family=Lilita+One&family=Mukta:wght@700&family=Protest+Riot&family=Rubik+Spray+Paint&family=Rubik:wght@800&family=Single+Day&display=swap');


/* Ogłoszenia */
#mainAnnouncment {
    z-index: 1;
    overflow: hidden;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
    box-shadow: -5px 40px 90px -50px rgba(0, 0, 0, 0.5);
}

#mainAnnouncment1 {
    margin-right: 20%;
    margin-left: 20%;
}

.messageAnnouncment {
    padding-top: 15px;
}

#announcement {
    font-family: 'Gluten', cursive;
    font-size: 44px;
    border-radius: 10px;
    margin-left: 28%;
    margin-right: 28%;
    padding-bottom: 2%;
    border-bottom: solid 2px #d5deea;
}

.messageAnnouncment h2 {
    font-family: 'Protest Riot', sans-serif;
    font-weight: 1000;
    font-size: 32px;
}

.messageAnnouncment p {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.messageImg {
    margin-top: 20px;
    border-radius: 50px;
    border: rgba(0, 0, 0, 0) 4px solid;
    overflow: hidden;
    display: inline-block;
    max-width: 60%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 16px 20px -6px rgb(0 0 0 / 0.1);
}

.messageImg img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.stages {
    margin-left: 5%;
    margin-right: 5%;
}

/* Scena 1 */

#mainStage1 {
    margin-top: 6%;
    margin-bottom: 6%;
    padding-left: 5%;
}

#Stage1 {
    position: relative;
    left: -100%;
    transition: left 1.5s ease;
}

#Stage1.visible {
    left: 0;
    position: relative;
}

.Stages1-2 {
    display: flex;
}

.Stages1-3 {
    margin-left: 1%;
    margin-right: 1%;
}

.Stage1Img {
    height: 600px;
    width: 30%;
    border-radius: 50px;
    border: rgba(0, 0, 0, 0) 4px solid;
    overflow: hidden;
    box-shadow: 0 40px 50px -5px rgb(0 0 0 / 0.1), 0 16px 20px -6px rgb(0 0 0 / 0.1);
}

.Stage1Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Stage1Text {
    width: 70%;
    padding: 5%;
    align-content: center;
}

.Stage1-2Text {
    font-weight: 600;
    font-size: large;
    padding: 5px;
}

/* Scena 2 */

#mainStage2 {
    height: 700px;
    margin-bottom: 6%;
    padding-top: 4%;
    padding-bottom: 2%;
    box-shadow: -5px 40px 120px -50px rgba(0, 0, 0, 0.5), 5px -40px 120px -50px rgba(0, 0, 0, 0.5);
}

#Stage2 {
    position: relative;
    right: -100%;
    transition: right 1.5s ease;
}

#Stage2.visible {
    right: 0;
    position: relative;
}

.Stages2-2 {
    display: flex;
}

.Stages2-3 {
    margin-left: 1%;
    margin-right: 1%;
}

.Stage2Img {
    height: 500px;
    width: 45%;
    border-radius: 50px;
    border: rgba(0, 0, 0, 0) 4px solid;
    overflow: hidden;
    box-shadow: 0 40px 50px -5px rgb(0 0 0 / 0.1), 0 16px 20px -6px rgb(0 0 0 / 0.1);
}

.Stage2Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Stage2Text {
    width: 55%;
    padding: 5%;
    text-align: center;
}

.Stage2-2Text {
    font-weight: 600;
    font-size: large;
    padding: 5px;
}

.Join-btn {
        display: inline-block;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        background-color: #ff9900;
        border: rgb(255, 136, 0) 5px solid;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

.Join-btn:hover {
    background-color: #b35a00;
}

.links {
    color: cornflowerblue;
    text-decoration: cornflowerblue;
}

.links:visited {
    color: cornflowerblue;
}

/* Scena 3 */

#Stage3.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#Stage3.visible {
    opacity: 1;
}

#Stage3 {
    font-family: 'Protest Riot', sans-serif;
    text-align: center;
}

.video-frame {
    height: 100%;
    width: 99%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
    object-fit: cover;
}

.video-container {
    display: inline-flex;
    white-space: nowrap;
    padding: 25px;
    object-fit: cover;
}

.video iframe{
    border-radius: 25px;
    border: rgb(225, 157, 6) 5px solid;
    overflow: hidden;
    display: inline-block;
    margin-right: 15px;
    object-fit: cover;
}

/* Scena 4 */

#mainStage4 {
    border-top: rgba(0, 0, 0, 0) 5px solid;
    border-bottom: rgba(0, 0, 0, 0) 5px solid;
    box-shadow: -5px 40px 120px -50px rgba(0, 0, 0, 0.5), 5px -40px 120px -50px rgba(0, 0, 0, 0.5);
    margin-top: 14%;
    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#Stage4 {
}

#Stage4-2 {
    position: relative;
    right: -100%;
    transition: right 1.5s ease;
    border-radius: 30px;
    border: rgb(0, 0, 0, 0) 4px solid;
    overflow: hidden;
    display: flex;
    margin: 8%;
    box-shadow: 0 60px 50px -5px rgb(0 0 0 / 0.1), 0 24px 30px -12px rgb(0 0 0 / 0.1);
    z-index: 100;
}

#Stage4-2.visible{
    right: 0;
    position: relative;
}

.Stage4Img {
    width: 50%;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.Stage4Img img {
    width: 100%;
    display: block;
    background-blend-mode: overlay;
}

.Stage4Overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2%;
    z-index: 250;
    padding: 2%;
    background-color: rgba(218, 156, 5, 0.29);
    border: rgb(0, 0, 0, 0) 4px solid;
    border-radius: 20px;
}

.Stage4Overlay h1 {
    text-align: center;
    color: ghostwhite;
    font-family: 'Rubik', sans-serif;
    margin: 4%;
    font-size: x-large;
}

.Stage4Overlay p {
    color: ghostwhite;
    font-family: 'Mukta', sans-serif;
    margin: 2%;
    font-size: small;
}

.Stage4Text {
    font-size: large;
    font-family: 'Lilita One', sans-serif;
}

/* Scena 5 */

#mainStage5 {
    margin-top: 10%;
    margin-bottom: 10%;
}

#Stage5 {
    position: relative;
    left: -100%;
    transition: left 1.5s ease;
}

#Stage5.visible {
    left: 0;
    position: relative;
}

.Stages5-2 {
    display: flex;
}

.Stages5-3 {
    margin-left: 1%;
    margin-right: 1%;
}

.Stage5Img {
    height: 500px;
    width: 45%;
    border-radius: 50px;
    border: rgba(0, 0, 0, 0) 4px solid;
    overflow: hidden;
    box-shadow: 0 50px 50px -5px rgb(0 0 0 / 0.1), 0 25px 30px -15px rgb(0 0 0 / 0.1);
}

.Stage5Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Stage5Text {
    width: 55%;
    padding: 5%;
    text-align: center;
}

.Stage5-2Text {
    font-weight: 600;
    font-size: large;
    padding: 5px;
}

/* JoinIn */

#mainJoinIn {
    border-top: rgba(0, 0, 0, 0) 1px solid;
    box-shadow: 5px -40px 120px -50px rgba(0, 0, 0, 0.5);
    height: 500px;
    margin-top: 4%;
    padding: 4%;
}

#StageJoinIn {
     font-family: 'Protest Riot', sans-serif;
     text-align: center;
     justify-items: center;
}

#StageJoinIn.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#StageJoinIn.visible {
    opacity: 1;
}

.StageJoinInText {
    display: flex;
    justify-content: center;
    align-items: center;
}

#JoinInIcon {
    color: black;
    border-radius: 20px;
    box-shadow: 0 50px 50px -5px rgb(0 0 0 / 0.1), 0 25px 30px -15px rgb(0 0 0 / 0.1);
    padding: 1%;
}

#JoinInIcon:hover {
    background-color: #d79a03;
    color: white;
}








